@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
#music_start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-color: #5e5b5b;
  color: #fff;
  border: none;
  font-family: 'Press Start 2P', cursive; /* Use pixel art font if available */
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}
#music {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 100px;
}

#music:hover {
  background-color: #555;
}
.router_v{
  text-align: center;
}
.overall{
  display: grid;
  grid-template-columns: 400px 800px;
  grid-template-rows: 300px auto;
}
.content{
  grid-area: 1/2/3/3 ;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.title{
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
  margin-right: 100px;
  margin-left: -180px;
  margin-top: 50px;
  
}

.form_count,
.form_appid {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.form_option_c,
.form_option_a {
    padding: 8px;
}

.form_button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form_button:hover {
    background-color: #0056b3;
}
._img{
  width: 100%; 
  height: auto; 
  display: block; 
}
.news_div{
  margin-top: 50px;
  margin-bottom: 50px;
}
.header {
  font-size: 2em; /* Adjust the font size to match h1 */
  color: darkgreen; /* Set the text color to dark green */
  text-decoration: none; /* Remove default underline */

}

.header:hover {
  color: forestgreen; /* Change text color to forest green on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-image: url("img_tree.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.about_body {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.about_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.about_button:hover {
    background-color: #0056b3;
}

.about_ul li {
    margin-bottom: 10px;
    list-style: none;
}

.about_a {
    color: #007bff;
    text-decoration: none;
}

.about_a:hover {
    text-decoration: underline;
}

.about_header1 {
    color: #333;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.about_ul strong {
    font-weight: bold;
}

.about_b {
    font-weight: bold;
}
.game {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.game_title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #333; /* Dark text color */
}

.game_des {
  font-size: 24px;
  text-align: center;
  color: #555; /* Slightly darker text color */
}